<!doctype html>

<html lang="en">
<head>
  <title>Progressive Equity Calculator</title>
</head>

<body>
  <h1>Progressive Equity Calculator</h1>
  <p>This tool will estimate payouts for equity holders under a progressive<br>
    equity scheme. Progressive equity is a legal structure that allows employees<br>
    to accrue a larger share of the funds from an exit once the founders and <br>
    other large equity holders, such as early employees, have reached a predetermined<br>
    "financial independence" number. Once this number has been reached, equity holders<br>
    are taxed 50% (or whatever you specify) of their payout earnings and that amount<br>
    is put into a pool that is then shared by the rest of the employees. Investors,<br>
    of course, are not subject to progressive equity.</p>

  <h3>Enter your data</h3>

  <form action="http://localhost:5000/payouts" method='POST' >
    <p>
      <label>Exit Price: </label>
      <input type="number" name="exit_price" value="30"/>
    </p>
    <p>
      <label>Financial Independence Number (After this number has been
        reached the "equity tax" will be applied to incremental earnings.): </label>
      <input type="number" name="fi_num" value="15" />
    </p>
    <p>
      <label>Equity Tax (enter as decimal, e.g. '0.5'): </label>
      <input type="number" name="tax" value="0.5" />
    </p>
    <p>
      <label>Equity Holders (eg. Investor_1, Investor_2, Founder_1, Founder_2
        Employee_1, Employee_2, Employee_3): </label>
      <input type="text" name="equity_holder_names" />
    </p><p>
      <label>Equity Ownership: </label>
      <input type="text" name="equity_ownership" />
    </p>
    <input type="submit" />
  </form>
</body>

</html>
