<!doctype html>

<html lang="en">
<head>
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles.css') }}"/>
  <title>Progressive Equity Calculator</title>
</head>

<body>
  <div class="content">

    <nav>
      <ul>
        <li><a  href="/">Home</a></li>
        <li><a  class="active" href="/about">About</a></li>
      </ul>
    </nav>

    <h1>About This Project</h1>

    <p>
      Hello! My name is Nadaa Taiyab. I am a data scientist with a finance and
      health tech background. I started working on this project because my signficant
      other co-founded a company,
      <a href="https://www.gruntwork.io">Gruntwork</a>, that is putting together
      a progressive equity scheme for their employees.
    </p>
    <p>
      As the in-home Excel expert, I whipped up a spreadsheet to explore how different
      exit prices and equity allocations would impact payouts. Consequently,
      I got inspired to build an online tool that others could use to explore their
      own scenarios.
    </p>
    <p>
      I also thought this would be an ideal project to practice Python and
      learn Flask, HTML, CSS, Docker, and AWS Elastic Beanstalk.
      The code is available on my
      <a href="https://github.com/nadaataiyab/progressive-equity-calculator"> github repo</a>
      and you can pull the Docker image from
      <a href="https://hub.docker.com/r/nadaataiyab/pe-calculator/"> Docker Hub</a>.
    </p>
    <p>
      This is my very first web app so please excuse some of the useabilty issues!
      I would love constructive feedback on the project and the code.
      Feel free to get in touch or submit a pull request if you would like
      to contribute to the project. <br><br>
      <a href="https://github.com/nadaataiyab/progressive-equity-calculator">Github</a> |
      <a href="https://hub.docker.com/r/nadaataiyab/pe-calculator/">Docker Hub</a> |
      <a href="https://twitter.com/nadaaita">Twitter</a> |
      <a href="https://www.linkedin.com/in/nadaataiyab">LinkedIn</a> |
      <a href="https://www.medium.com/@nadaa.taiyab">Medium Blog</a> |
    </p>

</body>

</html>
