<!doctype html>

<html lang="en">
<head>
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles.css') }}"/>
  <title>Progressive Equity Calculator</title>
</head>

<body>
  <div class="content">

    <nav>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <h1>Progressive Equity Calculator</h1>

    <p>This tool estimates the payouts that founders and employees would receive<br>
      in an exit under a progressive equity scheme. The idea behind progressive <br>
      equity is to allow founders and early employees to share some of the wealth <br>
      created by a big exit with employees that have smaller holdings.
    </p>
    <p>It was popularized in this article by Groupon's co-founder, Andrew Mason:<br>
  <a href="https://medium.com/detour-dot-com/introducing-progressive-equity-f424a51ee3a4">
  Introducing Progressive Equity</a>
  </p>You can also follow the <a href="https://medium.com/detour-dot-com/introducing-progressive-equity-f424a51ee3a4">
  Hacker News Thread</a> on the subject.

      <h3>How it Works</h3>
      <p>Once a founder and/or employee has reached a pre-set "financial independence number",<br>
        additional earnings are taxed (usually 50%) and put into a kicker pool. This pool<br>
        is then redistributed to the remaining employees on a pro-rate basis.<br>
      </p>
      <p>In order to receive monies from the kicker pool, an individual must still be <br>
        an employee at the time of the exit. Former employees will be subject to the<br>
        tax, but not the redistribution. Investors are not subject to progressive equity.
      </p>


    <h3>Enter Your Data Here</h3>

    <form action="/payouts" method='POST' >
      <p>
        <h4>Exit Price</h4>
        <p>Enter the estimated sale price of the company.</p>
        <input
          type="number"
          name="exit_price"
          value="30"/>
      </p>
      <p>
        <h4>Financial Independence Number</h4>
        <p>Once a founder/employee reaches this number, additional earnings from<br>
          will be taxed at the rate specified below. eg. If your number is $15mm<br>
          and, with your equity, you would earn $18mm, $1.5mm will be put<br>
          into a kicker pool and you will receive $16.5mm instead.</p>
        <input
          type="number"
          name="fi_num"
          value="15" />
      </p>
      <p>
        <h4>Equity Tax</h4>
        <p>Earnings above the financial independence number will be taxed at<br>
          this rate and put into the kicker pool. <b>Enter as a decimal eg.0.5</b>
        </p>
        <input
          type="number"
          name="tax"
          value="0.5" />
        </p>
      <p>
        <h4>Equity Holders</h4>
          <p>Enter comma seperated list with the names of the equity holders.<br>
            You can list each individual seperately:<br>
            Example: investor_1, investor_2, founder_1, founder_2, employee_1,  employee_2,...<br><br>
            Or you can group together the investors and employees with small holdings:<br>
            Example: investors, founder_1, founder_2, employee_1, employees</p>
          <input
            type="text"
            name="equity_names"
            size="100"
            value="investor_1, investor_2, founder_1, founder_2, employee_1,  employee_2, employee_3, employee_4"/>
        </p>
        <p>
          <h4>Equity Stake</h4>
            <p>Enter comma seperated list with the equity stake corresponding to each individual/group listed above.<br>
              Example: 0.1, 0.1, 0.25, 0.25, 0.1, 0.1, 0.05, 0.05</p>
            <input
              type="text"
              name="equity_percent"
              size="100"
              value="0.1, 0.1, 0.25, 0.25, 0.1, 0.1, 0.05, 0.05"
            />
        </p>
          <p>
            <h4>Subject to Progressive Equity</h4>
              <p>Specify True/False whether the person/group could be subject to progressive equity tax.<br>
                Generally, investors will always be listed as False and employees/founders as True.<br>
                Example: False, False, True, True, True, True, True, True
            </p>
            <input
              type="text"
              name="progressive"
              size="100"
              value="False, False, True, True, True, True, True, True"/>
          </p>

            <p>
              <h4>Currently Employed</h4>
                <p>Specify True/False whether the person/group is currently employed.<br>
                  Only employees are eligible to receive a redistribution. Set investors to False.<br>
                  Example: False, False, True, True, True, False, True, False
              </p>
          <p>
        <input
          type="text"
          name="employed"
          size="100"
          value="False, False, True, True, True, False, True, False" />
          </p>
      <input type="submit" />
    </form>

    <footer>
      A personal project by <a href="https://github.com/nadaataiyab">Nadaa Taiyab</a>
    </footer>
  </div>
</body>

</html>
